<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add
      key="aspnet:UseTaskFriendlySynchronizationContext"
      value="true"/>
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add
          name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager
      defaultProvider="ClientRoleProvider"
      enabled="true">
      <providers>
        <add
          name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""
          cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!--When deploying the service library project, the content of the config file must be added to the host’s 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client/>
    <services>
      <service
        behaviorConfiguration="ServiceBehaviorMetaData"
        name="FlipCaseService.FlipCaseService">
        <endpoint
          address="flipcase/wsAddress"
          binding="wsHttpBinding"
          contract="FlipCaseService.IFlipCaseService"
          bindingConfiguration="wsHttp">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint
          address="flipcase/basic"
          binding="basicHttpBinding"
          contract="FlipCaseService.IFlipCaseService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint
          address="net.tcp://localhost/FlipCaseNetTcp"
          binding="netTcpBinding"
          contract="FlipCaseService.IFlipCaseService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint
          address="flipcase/mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/FlipCaseService/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FlipCaseService.Service1Behavior">
          <serviceMetadata
            httpGetEnabled="true"
            httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServiceBehaviorMetaData">
          <serviceMetadata
            httpGetEnabled="true"
            httpGetUrl="http://localhost:8733/Design_Time_Addresses/FlipCaseService/Service1/"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
